<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>
  Sign up to get some really great information about Ruby on Rails!
  <a href="http://railstutorial.org/">Ruby on Rails</a>.
</p>
<p>Find me in app/views/users/new.html.erb</p>
